<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Context:</strong>
  <%= @product.context %>
</p>

<h4>리뷰 <%= @reviews.size %> 개</h4>
<ul>	
<% @reviews.each do |review| %>
    <li><%= review.comment %></li>
<% end %>
</ul>


<%= render 'reviews/form', review: @review %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
